*{padding:0;margin:0;}
.header {
    width: 100%;
    height: 70px;
    background-color: #219CE2;
    line-height: 70px;
}
.header span {
    display: block;
    float: left;
    font-size: 1.5em;
    color: #D3F0FC;
    margin-left: 15px;
}
.message {
    margin: 10px 30px;
}
.message h2 {
    font-size: 1.5625em;
    margin-bottom: 25px;
    color: #000;
}
.message div {
    font-size: 1.5em;
    text-indent:2em;
    color: #ff0000;
    margin-bottom: 15px;
}